<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Novo Agendamento</title>
        <link rel="stylesheet" href="/static/home.css">
    </head>
    
    <body>
        <div class="sidebar">

            <span id="user-name">Nome do Usuário</span>

            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="home_novoAg.html">Novo Agendamento</a></li>
                <li><a href="home_atualizarAg.html">Atualizar Agendamento</a></li>
                <li><a href="home_visualizar.html">Visualizar</a></li>
            </ul>
            <button>Logout</button>
        </div>

        <div class="content">
            <form action="/seu-endereco-de-post" method="post">
                <label for="data_entrega">Data de Entrega</label>
                <input type="date">
                
                <label for="cnpj">CNPJ</label>
                <input type="text" id="cnpj" name="cnpj" required>
                <br><br>
                
                <label for="fornecedor">Fornecedor</label>
                <input type="text" id="fornecedor" name="fornecedor" required>
                <br><br>
                
                <label for="numero_pedido">N° Pedido</label>
                <input type="text" id="numero_pedido" name="numero_pedido" required>
                <br><br>
                
                <button type="submit">Enviar</button>
            </form>
        </div>
    </body>
</html>