html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.principal {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 16%;
    background-color: #3e7b99;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    margin-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    cursor: pointer;
}

.sidebar button {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #666;
}

.content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.header {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: right;
}

.header span {
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para o formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #ffffff; /* Cor do texto */
    padding: 10px 15px;
    display: block;
}

a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #007BFF; /* Cor do texto ao passar o mouse */
}

li {
    list-style: none;
}

li a {
    margin-bottom: 5px;
    border-radius: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 30%;
}

.info_user {
    background: #5188a3;
    border-radius: 5px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
}

.profile_picture img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
    margin: 10px;
  }

span {
    margin: 7px;
}