<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/home.css">
    </head>
    
    <body>
        <div class="sidebar">

            <span id="user-name">Nome do Usuário</span>

            <h2>Menu</h2>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="home_novoAg.html">Novo Agendamento</a></li>
                <li><a href="home_atualizarAg.html">Atualizar Agendamento</a></li>
                <li><a href="home_visualizar.html">Visualizar</a></li>
            </ul>
            <button>Logout</button>
        </div>

        <div class="content">
            <input type="date">

            <table>
                <tr>
                    <th>#</th>
                    <th>CNPJ</th>
                    <th>Fornecedor</th>
                    <th>N° Pedido</th>
                </tr>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
    </body>
</html>