{% extends "base.html" %}

{% block title %}Visualizar{% endblock %}

{% block content %}
    <form action="{{ url_for('home.home_visualizarAgendamento') }}" method="get" class="formV">
        <label>Selecione a data específica que deseja visualizar:</label>
        <input type="date" id="date" name="date">
        <button type="submit" class="btn-v">Filtrar</button>
    </form>

    <div class="tableView">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Fornecedor</th>
                    <th>N° Pedido</th>
                    <th>Distribuição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.id }}</td>
                    <td>{{ agendamento.date }}</td>
                    <td>{{ agendamento.fornecedor }}</td>
                    <td>{{ agendamento.numeroPedido }}</td>
                    <td>
                        <form action="{{ url_for('home.home_visualizarAgendamento_upload') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="agendamento_id" value="{{ agendamento.id }}">

                            {% if agendamento.arquivo %}
                                <a href="{{ url_for('home.home_visualizarAgendamento_view_upload', agendamento_id=agendamento.id) }}" target="_blank" class="btn-v">
                                    <i class="bi bi-eye"></i>
                                    <span>Ver</span>
                                </a>
                            {% else %}
                                <input type="file" name="file">
                                <input type="submit" value="Upload">
                            {% endif %}
                        </form>
                    </td>
                    <td>
                        <a href="{{ url_for('home.home_visualizarAgendamento_editar', id=agendamento.id) }}" class="btn-v">
                            <span>Editar</span>                   
                        </a>
                    </td>    
                    <td>
                        <a href="{{ url_for('home.home_visualizarAgendamento_deletar', id=agendamento.id) }}" class="btn-v">
                            <span>Excluir</span>                    
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}