{% extends "base.html" %}

{% block title %}Novo Agendamento{% endblock %}

{% block content %}
    <form action="{{ url_for('home.home_novoAgendamento') }}" method="post" class="formN">
        <div>
            <h3>Incluir Agendamento</h3>
        </div>
        
        <div class="formNdivs">
            <div class="formNdiv">
                <label class="labelN">Data Entrega</label>
                <input type="date" name="dateForm" required>
                <label class="labelN">Responsável</label>
                <input type="text" name="dateContatoRespForm">
                <label class="labelN">CNPJ</label>
                <input type="text" id="cnpj" name="cnpjForm" required>
                <div id="cnpj-suggestions" class="suggestions-list"></div>
                <label class="labelN">Fornecedor</label>
                <input type="text" id="fornecedor" name="fornecedorForm" required>
                <div id="fornecedor-suggestions" class="suggestions-list"></div>
                <label class="labelN">N° Pedido</label>
                <input type="text" id="numeroPedido" name="numeroPedidoForm" required>
            </div>

            <div class="formNdiv">
                <label class="labelN">Depósito</label>
                <select name="depositoForm" required>
                    <option value="SED">SED</option>
                    <option value="CDA">CDA</option>
                    <option value="ACC">ACC</option>
                </select>
                <label class="labelN">Observação</label>
                <input type="text" name="obsForm">
                <label class="labelN">Volume Pallets</label>
                <input type="text" name="volumePalletsForm">
                <label class="labelN">Volume Cxs</label>
                <input type="text" name="volumeCxsForm">
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flashSucess {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    

        <div class="formNbutton">
            <button type="submit">Agendar</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}<script src="{{ url_for('static', filename='js/suggestions.js') }}"></script>{% endblock %}