<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createAccount.css') }}">
</head>

<body>

    <form class="form" action="{{ url_for('login.createAccount') }}" method="post">
        <p class="title">Registre-se:</p>
        <div class="flex">
            <label>
                <input class="input" type="text" name="userNomeForm" required>
                <span>Nome:</span>
            </label>
        </div>  

        <label>
            <input class="input" type="email" name="userEmailForm" required>
            <span>Seuemail@supernicolini.com.br:</span>
        </label> 

        <label>
            <input class="input" type="password" name="userSenhaForm" required>
            <span>Senha:</span>
        </label>
        <label>
            <input class="input" type="password" name="userSenhaConfirmForm" required>
            <span>Confirme sua Senha:</span>
        </label>
        <button class="submit">Criar Conta</button>
        <p class="signin">Já possuí uma conta? <a href="{{ url_for('login.login') }}">Entrar</a></p>
    </form>

</body>
</html>